* {
    margin: 0;
    padding: 3;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: lightslategray;
}

.right {
    float: left;
    padding-left: 15%;
    background-color: lightgray;
    height: 300px;
    width: 600;
}
.left {
    float: left;
    padding: auto;  
    background-color: lightgray;
    height: 300px;
}